* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
img {

	max-width: 100%;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.container {
    max-width: 1230px;
    padding-left: .75rem;
    padding-right: .75rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.colum {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.box-shadow {
    -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.box-shadow:hover {
    -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.50);
    box-shadow: 1px 2px 10px rgba(0,0,0,.50);
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.domo-box-bottom {
    margin-bottom: 130px;
}
.domo-box {
    background: #fff;
}
.demo-box-main {
    position: relative;
    overflow: hidden;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.team-member-image {
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.team-member-image:before {
    background: rgba(255, 82, 82, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    transition: all ease 500ms;
    z-index: 1;
}
.demo-box-1:hover .team-member-image:before {
    background: rgba(255, 82, 82, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: all ease 500ms;
}
.team-member-image img {
    width: 100%;
    -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    -webkit-transition: all ease 500ms;
    transform: scale(1);
}
.demo-box-main:hover .team-member-image img {
    -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    box-shadow: 1px 2px 10px rgba(0,0,0,.18);
    -webkit-transition: all ease 500ms;
    transform: scale(1.1);
}
.member-details {
    border-bottom: 5px solid #ff5252;
    border-style: groove;
    transition: all ease 500ms;
}
.demo-box-main:hover .member-details {
    border-bottom: 5px solid #000;
    transition: all ease 500ms;
}
.member-details h2 {
    background: #ff5252;
    line-height: 50px;
    color: #fff;
    padding-left: 10px;
    font-size: 30px;
    font-weight: 700;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.member-details h3 {
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
    line-height: 50px;
}
.team-member-soical-1 {
    position: absolute;
    bottom: 22%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    line-height: 50px;
    text-align: center;
    left: -100%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.team-member-soical-1 i {
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    margin: 0 5px;
}
.demo-box-1:hover .team-member-soical-1 {
    left: 0;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
/* Demo 2 */
.team-member-soical-2 .top {
    position: absolute;
    top: -100%;
    width: 50px;
    height: 50px;
    background: #ff5252;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    z-index: 1;
    left: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-2:hover .team-member-soical-2 .top{
    top: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.team-member-soical-2 .right {
    position: absolute;
    top: -100%;
    width: 50px;
    height: 50px;
    background: #ff5252;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    z-index: 1;
    right: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-2:hover .team-member-soical-2 .right {
    top: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.team-member-soical-2 .bottom {
    position: absolute;
    bottom: -100%;
    width: 50px;
    height: 50px;
    background: #ff5252;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    z-index: 1;
    left: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-2:hover .team-member-soical-2 .bottom {
    bottom: 42%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.team-member-soical-2 .left {
    position: absolute;
    bottom: -100%;
    width: 50px;
    height: 50px;
    background: #ff5252;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    z-index: 1;
    right: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-2:hover .team-member-soical-2 .left {
    bottom: 42%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-2 .team-member-image:before {
    background: rgba(255, 82, 82, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 50%;
    transition: all ease 500ms;
    z-index: 1;
}
.demo-box-2 .team-member-image:after {
    background: rgba(255, 82, 82, 0.3);
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 50%;
    transition: all ease 500ms;
    z-index: 1;
}
.demo-box-2:hover .team-member-image:after {
    background: rgba(255, 82, 82, 0.3);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 50%;
    transition: all ease 500ms;
}
.demo-box-2:hover .team-member-image:before {
    background: rgba(255, 82, 82, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    height: 50%;
    transition: all ease 500ms;
}
/* Demo 3 */
.demo-box-3 .team-member-image:before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 50%;
    transition: all ease 500ms;
    z-index: 1;
}
.demo-box-3:hover .team-member-image:before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    height: 50%;
    transition: all ease 500ms;
}
.team-member-image-3:after {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 50%;
    transition: all ease 500ms;
    z-index: 1;
}
.demo-box-3:hover .team-member-image-3:after {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    right: 0;
    bottom: 0%;
    width: 100%;
    height: 50%;
    transition: all ease 500ms;
}
.team-member-soical-3 .top {
    position: absolute;
    top: 35%;
    width: 50px;
    height: 50px;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    z-index: 1;
    left: -100%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-3:hover .team-member-soical-3 .top {
    left: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.team-member-soical-3 .right {
    position: absolute;
    top: -100%;
    width: 50px;
    height: 50px;
    background: #ff5252;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    z-index: 1;
    right: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-3:hover .team-member-soical-3 .right {
    top: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.team-member-soical-3 .bottom {
    position: absolute;
    bottom: -100%;
    width: 50px;
    height: 50px;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    z-index: 1;
    left: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-3:hover .team-member-soical-3 .bottom {
    bottom: 42%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.team-member-soical-3 .left {
    position: absolute;
    bottom: 42%;
    width: 50px;
    height: 50px;
    background: #ff5252;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 48px;
    z-index: 1;
    right: -100%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-3:hover .team-member-soical-3 .left {
    right: 35%;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
/* Demo 4 */
.demo-box-4 {
    position: relative;
}
.demo-box-4 .author-img img {
    width: 100%;
    transform: scale(1);
    transition: all ease 500ms;
    vertical-align: middle;
}
.demo-box-4:hover .author-img img {
    transform: scale(0);
    transition: all ease 500ms;
}
.demo-box-4 .author-details {
    padding: 15px 10px;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
.demo-box-4 .author-details-back {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    transform: scale(0);
    transition: all ease 500ms;
}
.demo-box-4 .author-details.author-details-back {
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
    text-transform: capitalize;
}

.demo-box-4:hover .author-details-back {
    transform: scale(1);
    transition: all ease 500ms;
}
.author-details .display-table {
    display: table;
    width: 100%;
    height: 350px;
}
.author-details .table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.team-member-soical-4 {
    padding-top: 20px;
}
.team-member-soical-4 i {
    width: 40px;
    height: 40px;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
    text-transform: capitalize;
}
/* Demo 5 */
.demo-box-5 {
    position: relative;
}
.demo-box-5 .author-img img {
    width: 100%;
    vertical-align: middle;
}
.demo-box-5 .author-details-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: scale(0) rotate(0);
    transition: all ease 500ms;
    background: rgba(255,255,255,.8);
}
.demo-box-5:hover .author-details-back {
    transform: scale(1) rotate(360deg);
    transition: all ease 500ms;
}
/* Demo 6 */
.hovai-demo-box-2 {
    position: relative;
    transition: 500ms;
    overflow: hidden;
}
.hovai-box-image-2 img {
    width: 100%;
    transform: scale(1);
    transition: 500ms;
}
.hovai-demo-box-2:hover .hovai-box-image-2 img {
    width: 100%;
    transform: scale(1.1);
    transition: 500ms;
}
.hovai-box-details-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    transition: 500ms;
}
.hovai-box-details-2 h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.hovai-box-details-2 h3 {
    color: rgb(255, 255, 255);
    line-height: 20px;
    padding-top: 10px;
}
.tabel {
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}
.boder-line-top-2 {
    width: 90%;
    position: absolute;
    top: -100%;
    height: 40px;
    right: 0px;
    text-align: center;
    left: 0px;
    background: transparent;
    margin: 0px auto;
    border-left: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    transition: 500ms;
}
.boder-line-bottom-2 {
    width: 90%;
    position: absolute;
    height: 40px;
    right: 0px;
    left: 0px;
    text-align: center;
    bottom: -100%;
    background: transparent;
    margin: 0px auto;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    transition: 500ms;
}
.hovai-demo-box-2:hover .boder-line-top-2 {
    top: 10%;
    transition: 500ms;
}
.hovai-demo-box-2:hover .boder-line-bottom-2 {
    bottom: 10%;
    transition: 500ms;
}
.hovai-team-member-soical {
    margin-top: 20px;
}
.hovai-team-member-soical i {
    width: 40px;
    height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 40px;
    text-transform: capitalize;
    background: rgb(0, 0, 0);
    transition: 500ms;
}